canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
html{
    height: 2000px;
    background-color: white;
    cursor: none;
}
#intro{
    float: left;
    padding: 10%;
}
#intro h1{
    font-size: 6em;
}
#about{
    float: right;
    padding: 10%;
}
div#fish{
    position:absolute;
    transform:translate(-50%,-50%);
}