@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
body {
  background-image: linear-gradient(to bottom, black , black);
  padding-top: 5rem;
  overflow-x: hidden;
}
nav{
  background-color: #000000;
}
nav a{
    color: white;
}
nav a:hover{
    animation: blinkNav 3s infinite;
    border: black 3px;
}
#home{
  padding-top: 3rem;
  height: 50rem;
  overflow-y: hidden;
}
#home h2{
    text-shadow: 0 0 2px #c6dfc3, 0 0 5px #c6dfc3, 0 0 10px #c6dfc3, 0 0 30px #c6dfc3, 0 0 50px #e9ffc7, 0 0 5px #b3b3b3, 0 0 80px #e9ffc7;
    color: #ffffff;
    font-family: 'Rajdhani', sans-serif;
    font-size: 7vh;
}
#home h1, #about h1, #skills h1, #works h1, #contact h1, #resume h1{
    font-size: 25vh;
    text-shadow: 0 0 5px #13be03, 0 0 15px #13be03, 0 0 20px #13be03, 0 0 40px #13be03, 0 0 60px #9dff00, 0 0 10px #6fce03, 0 0 98px #9dff00;
    color: #92ff88;
    font-family: "Sacramento", cursive;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

#about{
  margin-bottom: 15rem;
}
#about img{
  border-radius: 50rem;
  background-color: grey;
}
#about p{
  color: white;
  font-size: 1rem;
  width: 70rem;
  height: 20rem;
  padding-right: 30rem;
}
#skills h1{
  margin: 0;
}
#skillBar p:hover{
    animation: blinkNav 3s infinite;
    border: black 3px;
}
#skills div{
  margin: 2rem;
  color: white;
}
#skillsText{
  color: white;
  width: 30rem;
  height: 15rem;
}
#skillsText span{
  text-shadow: 0 0 5px #13be03, 0 0 15px #13be03, 0 0 20px #13be03; 
  color: #92ff88;
}
#skillInside{
  background-color: rgb(107, 107, 107);
  border-radius: 50px;
  width: 35rem;
}
#skillBar p{
  color: white;
  font-size: 1rem;
}
#skillBar span{
  float: left;
  vertical-align: center;
  font-weight: none;
  padding-left: 5px;
}
#skillBar{
  box-sizing: border-box;
}
#skill1, #skill2, #skill3{
  height: 15px;
  border-radius: 50px;
  transition: 5s all;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
#skill1{
  background-color: rgb(255, 79, 79);
  width: 1rem;
}
#skill2{
  background-color: rgb(80, 80, 252);
  width: 3.5rem;
}
#skill3{
  background-color: rgb(194, 101, 238);
  width: 2.5rem;
}
#skill3:hover{
  animation: skill3 5s infinite;
}
#skill2:hover{
  animation: skill2 5s infinite;
}
#skill1:hover{
  animation: skill1 5s infinite;
}

#works{
  margin-bottom: 15rem;
  color: white;
  font-size: 2rem;
}
#workGrid img{
  border: 2px solid #13be03;
  width: 20rem;
  height: 15rem;
}
#works p{
color: white;
font-size: 2rem;
padding: 2rem;
}
#works p:hover{
  animation: blinkNav 3s infinite;
  border: black 3px;
}

#contact{
  color: white;
  margin: 2rem;
  margin-left: 1rem;
  margin-bottom: 15rem;
}
#contactInfo svg{
  margin: 1rem;
}
span{
  font-weight: bolder;
}
#contactInfo p{
  padding-left: 13rem;
}
#contact form input{
  border-bottom: 2px solid white;
  border-right: none;
  width: 25rem;
  color: white;
  font-size: 1.4rem;
  background-color: #000000;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 2rem;
  padding: .5rem;
  margin-left: 10rem;
}
button{
  animation: workBlink 10s infinite;
  background-color: black;
  border: 3px solid #13be03;
  color: white;
  width: 11rem;
  height: 4rem;
}
#contact a{
  text-decoration: none;
  color: white;
}

#resume{
  margin-bottom: 15rem;
  color: white;
  font-size: 1rem;
}
#resumeImg img{
  width: 33rem;
  height: 35rem;
  margin-left: 6rem;
  margin-bottom: 6rem;
}
#resumeText{
  padding: 5rem;
}
.place{
  text-shadow: 0 0 5px #13be03, 0 0 15px #13be03; 
  color: #92ff88;
}
.time{
  font-variant: small-caps;
  font-weight: none;
  font-size: .8rem;
}
#download a{
 text-decoration: none;
 color: white;
  font-size: 1rem;
}
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #000000;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #13be03, 0 0 15px #13be03, 0 0 20px #13be03, 0 0 40px #13be03, 0 0 60px #9dff00, 0 0 10px #6fce03, 0 0 98px #9dff00;
      color: #92ff88;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #000000;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: 0 0 5px #13be03, 0 0 15px #13be03, 0 0 20px #13be03, 0 0 40px #13be03, 0 0 60px #9dff00, 0 0 10px #6fce03, 0 0 98px #9dff00;
      color: #92ff88;
  }
}
@keyframes workBlink {
  20%,
  24%,
  55% {
    border-style: hidden;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    border: 2px solid #13be03;
  }
}
@keyframes blinkNav {
    20%,
    24%,
    55% {
      color: #000000;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 2px #c6dfc3, 0 0 5px #c6dfc3, 0 0 10px #c6dfc3, 0 0 30px #c6dfc3, 0 0 50px #e9ffc7, 0 0 5px #b3b3b3, 0 0 80px #e9ffc7;
        color: #ffffff;
    }
  }
  @keyframes skill3 {
    from {
      box-shadow:0 0 20px #fff, 0 0 40px rgb(194, 101, 238);
      background-color: rgb(219, 142, 255);
    }
    to {
      box-shadow:0 0 20px rgb(194, 101, 238), 0 0 35px rgb(194, 101, 238);
      background-color: rgb(219, 142, 255);
    }
  }
  @keyframes skill1 {
    from {
      box-shadow:0 0 20px #fff, 0 0 40px rgb(255, 79, 79);
      background-color: rgb(255, 138, 138);
    }
    to {
      box-shadow:0 0 20px rgb(255, 79, 79), 0 0 35px rgb(255, 79, 79);
      background-color: rgb(255, 138, 138);
    }
  }
  @keyframes skill2 {
    from {
      box-shadow:0 0 20px #fff, 0 0 40px rgb(80, 80, 252);
      background-color: rgb(142, 142, 255);
    }
    to {
      box-shadow:0 0 20px rgb(80, 80, 252), 0 0 35px rgb(80, 80, 252);
      background-color: rgb(142, 142, 255);
    }
  }